.tile {
  height: 100%;
  border-radius: 0.5em;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}
.tile.liberal{
  background: #aaf;
}
.tile.fascist{
  background: sandybrown;
}

.center{
  grid-row-start: 2;
}

