.tile {
  height: 100%;
  border-radius: 0.5em;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}
.tile-LIBERAL.enacted {
  border: 10px solid blue;
}
.tile-FASCIST.enacted {
  border: 10px solid saddlebrown;

}
.center{
  grid-row-start: 2;
}
.clickable {
  cursor: pointer;
}
