<div *ngIf="!connected">
  <input placeholder="Your name" [(ngModel)]="userName">
  <button class="btn btn-primary" (click)="onClickJoin()">Join</button>
</div>
<div *ngIf="connected">

  <ng-container *ngIf="!room.game">
    <h3>Players</h3>
    <h3>{{user.name}} / {{user.id}} -- {{room?.game?.phase}} -- round {{room?.game?.currentRound?.roundNumber + 1}}</h3>
    <ul *ngIf="!room.game">
      <li *ngFor="let user of room?.users">{{user|json}}
      </li>
    </ul>
    <button *ngIf="room?.game?.phase == null && room.users.length > 4" (click)="onStartGameClicked()">StartGame</button>
  </ng-container>

<!--  <button class="btn btn-primary" (click)="onToggleDesign()">Toggle design</button>-->
  <button class="btn btn-primary" *ngIf="room?.game?.phase == GamePhase.GAME_OVER" (click)="onRestartGame()">Restart</button>
  <h3>{{user.name}} -- {{room?.game?.phase}} -- round {{room?.game?.currentRound?.roundNumber + 1}}</h3>
<!--  <div>XXX {{room?.game?.hitler}} &#45;&#45; {{room?.game?.fullPlayers|json}}</div>-->

  <app-nominate-chancellor #nominateChancellor [players]="room?.game?.fullPlayers" [game]="room?.game"
                           (nominate)="onNominate($event)"></app-nominate-chancellor>
  <app-vote-leadership #voteLeadership [players]="room?.game?.fullPlayers"
                       [currentRound]="room?.game?.currentRound" (vote)="onVoteLeadership($event)"></app-vote-leadership>
  <app-discard-policy-tile #presidentDiscard [policyTiles]="room?.game?.currentRound?.presidentPolicies"
                           (discard)="onDiscardPolicyTile($event)"></app-discard-policy-tile>
  <app-discard-policy-tile #chancellorDiscard [policyTiles]="room?.game?.currentRound?.chancellorPolicies"
                           (discard)="onDiscardPolicyTile($event)"></app-discard-policy-tile>
  <app-policy-peek #policyPeek
                   [policies]="room?.game?.currentRound?.peekedTiles"
                   (peek)="onPolicyPeek()"></app-policy-peek>
  <app-investigate-loyalty #investigateLoyalty
                           [players]="room?.game?.fullPlayers"
                           (investigate)="onInvestigateLoyalty($event.id)"></app-investigate-loyalty>
  <app-execute-player #executePlayer
                      [players]="room?.game?.fullPlayers"
                      [user]="user"
                      (execute)="onExecution($event.id)"></app-execute-player>

  <ng-container *ngIf="room.game && newDesign">
    <app-game [game]="room.game"
              (pingClicked)="onPingClicked()"
              (getRoomStateClicked)="onGetRoomStateClicked()"
              (startGameClicked)="onStartGameClicked()"
              (voteLeadership)="onVoteLeadership($event)"
              (discardPolicyTile)="onDiscardPolicyTile($event)"
              (requestVeto)="onRequestVeto()"
              (confirmVeto)="onConfirmVeto()"
              (denyVeto)="onDenyVeto()"
              (policyPeek)="onPolicyPeek()"
              (nominateChancellor)="onNominateChancellor($event)"
              (investigateLoyalty)="onInvestigateLoyalty($event)"
              (callSpecialElection)="onCallSpecialElection($event)"
              (execution)=onExecution($event)>
    </app-game>
  </ng-container>

  <ng-container *ngIf="room.game && !newDesign">
    <ul *ngIf="room.game">
      <li *ngFor="let player of room.game.fullPlayers">
        {{player.name}} -
        <button
          *ngIf="room?.game?.phase == 'NOMINATING_CHANCELLOR' && user.id == room?.game?.rounds[room?.game?.rounds.length-1].president && user.id!=player.id"
          (click)="onNominateChancellor(player.id)">NominateChancellor
        </button>
        <button
          *ngIf="room?.game?.phase == 'PRESIDENT_EXECUTIVE_POWER' && user.id == room?.game?.rounds[room?.game?.rounds.length-1].president && user.id!=player.id"
          (click)="onInvestigateLoyalty(player.id)">InvestigateLoyalty
        </button>
        <button
          *ngIf="room?.game?.phase == 'PRESIDENT_EXECUTIVE_POWER' && user.id == room?.game?.rounds[room?.game?.rounds.length-1].president && user.id!=player.id"
          (click)="onCallSpecialElection(player.id)">CallSpecialElection
        </button>
        <button
          *ngIf="room?.game?.phase == 'PRESIDENT_EXECUTIVE_POWER' && user.id == room?.game?.rounds[room?.game?.rounds.length-1].president && user.id!=player.id"
          (click)="onExecution(player.id)">Execution
        </button>
      </li>
    </ul>

    <h3>Game data</h3>
    <div>{{room.game | json}}</div>
    <div *ngFor="let round of room?.game?.rounds" [style]="{border: '1px solid black'}">
      {{round|json}}
    </div>

    <ng-container *ngIf="lastError">
      <h3>Error</h3>
      <div>{{lastError.code}} / {{lastError?.data}}</div>
    </ng-container>

    <h3>Actions</h3>
    <button (click)="onPingClicked()">Ping</button>
    <button (click)="onGetRoomStateClicked()">Get Room State</button>
    <button *ngIf="room?.game?.phase == 'VOTING_LEADERSHIP'" (click)="onVoteLeadership(Vote.YES)">VoteLeadership YES</button>
    <button *ngIf="room?.game?.phase == 'VOTING_LEADERSHIP'" (click)="onVoteLeadership(Vote.NO)">VoteLeadership NO</button>
    <button *ngIf="room?.game?.phase == 'PRESIDENT_DISCARDS_POLICY_TILE' && user.id == room?.game?.rounds[room?.game?.rounds.length-1].president"
            (click)="onDiscardPolicyTile(PolicyTile.LIBERAL)">discard liberal policy
    </button>
    <button *ngIf="room?.game?.phase == 'PRESIDENT_DISCARDS_POLICY_TILE' && user.id == room?.game?.rounds[room?.game?.rounds.length-1].president"
            (click)="onDiscardPolicyTile(PolicyTile.FASCIST)">discard fascist policy
    </button>
    <button *ngIf="room?.game?.phase == 'CHANCELLOR_DISCARDS_POLICY_TILE' && user.id == room?.game?.rounds[room?.game?.rounds.length-1].chancellor"
            (click)="onDiscardPolicyTile(PolicyTile.LIBERAL)">discard liberal policy
    </button>
    <button *ngIf="room?.game?.phase == 'CHANCELLOR_DISCARDS_POLICY_TILE' && user.id == room?.game?.rounds[room?.game?.rounds.length-1].chancellor"
            (click)="onDiscardPolicyTile(PolicyTile.FASCIST)">discard fascist policy
    </button>
    <button *ngIf="room?.game?.phase == 'CHANCELLOR_DISCARDS_POLICY_TILE' && user.id == room?.game?.rounds[room?.game?.rounds.length-1].chancellor"
            (click)="onRequestVeto()">RequestVeto
    </button>
    <button *ngIf="room?.game?.phase == 'VETO_REQUESTED' && user.id == room?.game?.rounds[room?.game?.rounds.length-1].president" (click)="onConfirmVeto()">
      ConfirmVeto
    </button>
    <button *ngIf="room?.game?.phase == 'VETO_REQUESTED' && user.id == room?.game?.rounds[room?.game?.rounds.length-1].president" (click)="onDenyVeto()">
      DenyVeto
    </button>
    <button *ngIf="room?.game?.phase == 'PRESIDENT_EXECUTIVE_POWER' && user.id == room?.game?.rounds[room?.game?.rounds.length-1].president"
            (click)="onPolicyPeek()">PolicyPeek
    </button>
    <button (click)="onRestartGame()">Restart game</button>
  </ng-container>
</div>
